.analysis {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    width: 37.5rem;
    height: 30.063rem;
    overflow-y: scroll;
    background-color: white;
    color: black;
    padding: 1rem;
}

.analysis-type{
    align-self: start;
}