.table-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-top: 10rem;
}

.table {
    border-collapse: collapse;
    width: 100%;
    margin: 2rem;
    padding: 2rem;
    margin-top: 10rem;
    overflow-x: hidden;
}

.table td,
.table th {
    border: 1px solid var(--green);
    padding: 8px;
}

.table th {
    background-color: var(--green);
    color: white;
}

.table tr:nth-child(even) {
    background-color: #FFF;
}

.table tr:hover {
    background-color: var(--light-green);
}

.table td {
    width: 80px;
}
.admin{
    overflow-x: hidden;
}
.adminn{
    width: 100%;
    margin: 1rem;
    padding: 1rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem; 
}
@media screen and (max-width: 767px) {
    .table-container {
        margin: 2.5rem auto;
        /* max-width: 80%; */
    }

    .table td {
        width: 50px;
    }
}