.table-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-top: 10rem;
}
.story1 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    top: 0;
    left: 0;
    bottom: 0;
    width: 50rem;
    background-color: white;
    border-radius: 0.188rem;
    margin: 3rem auto;
    height: auto;
    padding: 1.5rem;
    margin-left: 22rem;
    margin-top: 5rem;
    box-shadow: 2px 2px 8px rgb(181, 179, 179);
    max-height: 448px;
    overflow-y: scroll;

}
.table {
    border-collapse: collapse;
    width: 100%;
    margin: 2rem;
    padding: 2rem;
    margin-top: 17rem;
    overflow-x: hidden;
}

.table td,
.table th {
    border: 1px solid var(--green);
    padding: 8px;
}

.table th {
    background-color: var(--green);
    color: white;
}

.table tr:nth-child(even) {
    background-color: #FFF;
}

.table tr:hover {
    background-color: var(--light-green);
}

.table td {
    width: 80px;
}
.admin{
    overflow-x: hidden;
}
.adminn{
    width: 100%;
    margin: 1rem;
    padding: 1rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem; 
}
@media screen and (max-width: 767px) {
    .table-container {
        margin: 2.5rem auto;
        /* max-width: 80%; */
    }

    .table td {
        width: 50px;
    }
}