.table-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background-color: white;
    width: 50rem;
    border-radius: 0.188rem;
    margin: 3rem auto;
    max-height: 450px;
    padding: 1.5rem;
    padding-left: 0;
    padding-right: 0;
    margin-left: 22rem;
    margin-top: 5rem;
    box-shadow: 2px 2px 8px rgb(181, 179, 179);
    overflow-y:scroll;
    overflow-x: hidden;
}
.table-container::-webkit-scrollbar {
    display: none;
}

.table {
    border-collapse: collapse;
    width: 100%;
    overflow-y: scroll;
    margin-top: 0 ;
    height: 200px;
    overflow-x: hidden;
    margin-top: -1.6rem;
}

.table td,
.table th {
    border: 1px solid var(--green);
    padding: 8px;
}

.table th {
    background-color: var(--green);
    color: white;
}

.table tr:nth-child(even) {
    background-color: #FFF;
}

.table tr:hover {
    background-color: var(--light-green);
}

.table td {
    width: 80px;
}
.admin{
    overflow-x: hidden;
}
.adminn{
    width: 100%;
    margin-top: 1rem;
    padding-top: 1rem;

}
@media screen and (max-width: 767px) {
    .table-container {
        margin: 2.5rem auto;
    
    }

    .table td {
        width: 50px;
    }
}