.footer{
   background-color: var(--dark) ;
   height: fit-content;
   max-width: 100%;
   color: white;
   padding: 0.3rem;
   padding-bottom: 0.5rem;
}
.footer-title{
    text-align: center;
}
.footer-links{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 0.875rem;
}
.footer-links a{
    color: white;
    margin: 0.2rem;
    margin-left: 3rem;
    margin-right: 3rem;
    text-decoration: none;
}
.link-division{
    display: flex;
    flex-direction: column;
}
.social-media{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 768px) {
    .footer {
        flex-direction: column;
        height: auto;
        padding: 1rem;
    }

    .footer-links {
        margin-right: 0;
        margin-bottom: 1rem;
    }

}