.profile-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.profile-label {
    font-weight: normal;
    margin-right: 12.8rem;
    font-size: 12px;
}
.edit-profile{
    padding-bottom: 4rem;
    height: 25.625rem;
    
}
.contact-inputs{
    display: flex;
    flex-direction: column;
    gap: 0.8rem; 
}
.spacing{
    margin-top: -1.2rem;
}
input{
    width: 13.75rem;
    height: 1.563rem;
}
.save{
    margin-top: 5rem;
    width: 13.75rem;
}
.textarea{
    width: 13.75rem;
}
.myprofile{
    align-self: start;
}
@media screen and (max-width: 768px) {
    .profile-container {
        flex-direction: column;
        align-items: center;
    }

    .profile-label {
        margin-right: 2rem;
    }

    input{
        width: 7rem;
        height: auto;
    }

    .contact-inputs {
        align-items: center;
    }
}
