.profile-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.profile-label {
    font-weight: normal;
    margin-right: 12.8rem;
    font-size: 14px;
}
.contact-inputs{
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
}