body{
    background-color: white;
}
.features-title{
    margin-top: 3rem;
    text-shadow: 2px 2px var(--green);
    text-align: center;
}
.features-container{
    display: flex;
    flex-direction: row;
    gap: 4rem;
    padding: 3rem;
    margin-left: 4rem;
    margin-right: 4rem;
    
}
.feature{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.6rem;
    width: 30%;
    height: 30%;
    text-align: center;
}
.title{
    font-size: 1.125rem;
    font-weight: bold;
}
@media screen and (max-width: 768px) {
    .features-title {
        margin-top: 3rem;
        font-size: 1rem;
    }

    .features-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1rem;
    }

    .feature {
        width: 90%;
        height: auto;
        margin-bottom: -2rem;
        font-size: 0.8rem;
    }

    .feature-img {
        width: 100px;
        height: 80px;
    }

    .title {
        font-size: 0.8rem;
    }
}