.logo{
    text-align: center;
    margin-top: -4rem;
    margin-bottom: 2rem;
    
}
.sidebar {
    position: fixed;
    justify-content: baseline;
    top: 0;
    left: 0;
    bottom: 0;
    width: 11.25rem;
    background-color: white;
    border-radius: 0.188rem;
    margin: 3rem;
    padding: 1rem;
    margin-left: 5rem;
    margin-top: 5rem;
    box-shadow: 2px 2px 8px rgb(181, 179, 179);
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar li {
    padding: 1rem;
}

.sidebar li:last-child {
    border-bottom: none;
}

.sidebar a {
    color: #333;
    text-decoration: none;
}

.sidebar a:hover {
    text-shadow: 2px 2px 8px var(--green);
}
.li a{
    font-weight: bold;
    color: red;
}