.cmnt-container{
    display: flex;
    justify-content:flex-start;
    align-items: center;
    margin-bottom: 1rem;
    border: 2px solid var(--offwhite);
    gap: 0.2rem;
    padding: 0.2rem;
    width: 13rem;
}
.cmnt-img:hover{
 cursor: pointer;
}
.cmnt {
    border: none;
    outline: none;
    width: 9rem;
}


