.label3{
    font-size: 12px;
}

.before{
margin-right: 5rem;
}
.after{
margin-right: 6rem;
}
.label-input{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 0.4rem;
}
.textarea12{
    height: 3.5rem;
}