.label3{
    font-size: 12px;
}
.improved{
    margin-left: 5rem;
}
.before{
margin-right: 5rem;
}
.after{
margin-right: 6rem;
}
.label-input{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 0.4rem;
}
.r-title{
    width: 100%;
    text-align: center;
}