.view-modall {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 0.5rem;
    height: auto;
    width: 400px;
    background-color: magenta;
    margin: 1.5rem;
    opacity: 50%;
}
.modall {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    outline: none;
    margin: 7rem;
    margin-left: 30rem;
    background-color: white;
    border-radius: 3%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 20px;
    max-width: 25rem;
    width: 100%;
    overflow-y: auto;
    max-height: 25rem;
}
