  .grid-container {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      margin: 2rem;
      grid-gap: 10px;
      overflow-y: scroll;
      max-height: 300px;
  }

  .grid-item {
      background-color: var(--green);
      color: white;
      padding: 1rem;
      padding-top: 0.2rem;
      width: 200px;
      height: 100px;
      gap: 20px;
      overflow-y: scroll;

  }
 .analysiss{
    text-align: center;
    border: none;
    background: none;
    margin-left: 1.3rem;
  }

  .popup-analysis{
    z-index: 2;
  }
 
  
    @media (max-width: 768px) {
      .grid-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        grid-template-columns: 1fr;
        max-height: none;
        overflow-y: visible;
        grid-gap: 0.7rem;
      }
    }
  
    .grid-item {
      background-color: var(--green);
      color: white;
      padding: 1rem;
      padding-top: 0.2rem;
      width: 100%;
      height: 100px;
      gap: 20px;
      overflow-y: scroll;
    }
  
    @media (min-width: 768px) {
      .grid-item {
        width: 200px;
      }
    }
  
    .analysiss {
      text-align: center;
      border: none;
      background: none;
      margin-left: 1.3rem;
    }
  
    .popup-analysis {
      z-index: 2;
    }