.testimonials-title {
    margin-top: 1rem;
    text-shadow: 2px 2px var(--green);
    text-align: center;
}

.persons-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding: 3rem;
    margin-left: 4rem ;
    margin-right: 4rem;
}
.person {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;
    padding: 0.8rem;
    width: 40%;
    height: 28.25rem;
    text-align: center;
    box-shadow: 10px 10px 8px rgba(184, 183, 183, 0.5);
    border-radius: 3px;
    background-color: var(--white);

}
.person:hover{
transform: scale(1.06);
}
.title {
    font-size: 1.125rem;
    font-weight: bolder;
}


@media screen and (max-width: 768px) {
    .testimonials-title {
        margin-top: 3rem;
        font-size: 1rem;
    }

    .persons-container {
        gap: 1rem;
        padding: 1rem;
        margin: 0;
        overflow-x: scroll;
        align-items: center;
        /* background-color: var(--white); */
    }

    .person {
        width: 70%;
        height: 14rem;
        margin: 0.2rem;
        font-size: 0.4rem;
        border-radius: 3%;
    }

    .person-img {
        width: 5rem;
        height: 5rem;
    }

    .title {
        font-size: 0.9rem;
    }
}
@media screen and (max-width: 390px) {
    .persons-container {
        flex-wrap: wrap;
    }
}