.testimonials-title {
    margin-top: 1rem;
    text-shadow: 2px 2px var(--green);
    text-align: center;
}

.persons-container {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    padding: 3rem;
    margin-left: 4rem;
    margin-right: 4rem;
}
.person {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;
    padding: 0.8rem;
    width: 40%;
    height: 28.25rem;
    text-align: center;
    box-shadow: 2px 2px 8px var(--green);
    background-color: var(--white);

}
.title {
    font-size: 1.125rem;
    font-weight: bolder;
}
@media screen and (max-width: 768px) {
    .testimonials-title {
        margin-top: 3rem;
        font-size: 1rem;
    }

    .persons-container {
        gap: 1rem;
        padding: 1rem;
        flex-wrap: nowrap;
        background-color: var(--white);
    }

    .person {
        width: 35%;
        height: 14rem;
        margin: 0.2rem;
        font-size: 0.4rem;
        border-radius: 3%;
    }

    .person-img {
        width: 2rem;
        height: 2rem;
    }

    .name {
        font-size: 0.5rem;
    }
}