.logo {
    align-self: center;
    margin-top: -4rem;
    margin-bottom: 2rem;

}

.active {
    font-weight: bold;
}

/* .sidebar {
    position: fixed;
    justify-content: baseline;
    top: 0;
    left: 0;
    bottom: 0;
    width: 11.25rem;
    background-color: white;
    border-radius: 0.188rem;
    margin: 3rem;
    padding: 1rem;
    margin-left: 5rem;
    margin-top: 5rem;
    box-shadow: 2px 2px 8px rgb(181, 179, 179);
} */
.admin-sidebar {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    top: 0;
    left: 0;
    bottom: 0;
    position: absolute;
    width: 11.25rem;
    background-color: white;
    border-radius: 0.188rem;
    margin: 3rem;
    padding: 1rem;
    margin-left: 5rem;
    margin-top: 5rem;
    box-shadow: 2px 2px 8px rgb(181, 179, 179);
}

.admin-sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.admin-sidebar li {
    padding: 1rem;
}

.admin-sidebar li:last-child {
    border-bottom: none;
}

.admin-sidebar a {
    color: #333;
    text-decoration: none;
}

.admin-sidebar a:hover {
    text-shadow: 1px 1px var(--green);
}

.lii {
    margin-top: 15rem;
}

.li a {
    font-weight: bold;
    color: red;
    
}
.users{
    font-weight: bold;
}