.draft{
    max-width: 47rem;
    margin-left: 1rem;
    margin-bottom: -1.5rem;
    width: 100%;
}
.thestory{
   border-radius: 0.188rem;
   margin: 1rem;
   padding: 1.5rem;
   width: 44rem;
   height: auto;
   background-color: var(--green);
   color: white;
   overflow-x: hidden;
   display: flex;
   flex-direction: column;
   justify-content: center;

}
.thestory-type{
    margin-bottom: -0.00125rem;
}
.show{
    cursor: pointer;
}

.post-container{
  
    overflow-x: hidden;
    z-index: 1;
}

.analysiss {
    text-align: center;
    border: none;
    background: none;
    margin-left: 1.3rem;
}

.popup-analysis {
    z-index: 2;
}

.each-one{
  margin-top: 2.5rem;
 
}