.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.titre{
    font-size: 2.5rem;
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 0.7rem;
}
.google{
    border-radius: 50%;
    border: 0.113rem solid black;
    padding: 0.4rem;
    cursor: pointer;
    margin-bottom: 1rem;
  
}
.signup-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 4rem;
    padding: 1.5rem;
    width: 21.875rem;
    height: fit-content;
    border-radius: 3%;
    background-color: white;
    color: black;
    border: 2.5px solid var(--green);
}
.signup-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items:flex-start;

}
.signup-form a {
    color: var(--blue);
}

.input-container {
    display: flex;
    gap: 2rem;
    align-items: center;
}

.label {
    font-weight: bold;
    font-size: 1rem;
}

.input-field {
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: white;
    border-bottom: 2px solid var(--green);
    color: black;
    outline: none;
    font-size: 14px;
    width: 18rem;
    /* width: fit-content; */
}

.name {
    margin-top: 0.5rem;
}

.email {
    margin-top: 0.5rem;
}

.pass {
    margin-top: 0.5rem;
}

.login-text{
    margin-left: 0.5rem;
}
.label a{
    color: var(--green);
    text-decoration: none;
}
.labell a{
    text-decoration: none;
    font-weight: bold;
}
.error{
    color: red;
    margin: 0;
    padding: 0.3rem;
}

.forget:hover{
    color: var(--green);
}