.headergroup{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.search{
    display: flex;
    justify-content:flex-start;
    align-items: center;
    height: 1.25rem;
    padding: 0.33rem;
    border: none;
}

.search-text{
    font-size: 14px;
    
}
.search-img{
    border: 1px solid gray;
    padding: 0.31rem;
    height: 1.35rem;
    width: 1.35rem;
    
}
.view{
    display: flex;
    color: var(--green);
    justify-content: baseline;
    align-items: center;
    font-size: 15px;
}