.view-modal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 0.5rem;
    height: auto;
    width: 400px;
    background-color: white;
    margin: 1.5rem;
}
.modal {
    display: flex;
    flex-direction: column;
    outline: none;
    margin: 7rem;
    margin-left: 30rem;
    background-color: white;
    border-radius: 3%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 20px;
    max-width: 25rem;
    width: 100%;
    overflow-y: auto;
    max-height: 25rem;
}
.commented{
    border: 2px solid var(--offwhite);
    border-radius: 3px;
    margin: 1rem;
    padding: 0.5rem;
    position: relative;
}
.view-name{
    font-weight: bold;
}
.view-title{
    margin: 1rem;
    padding: 0.5rem;
}
.close{
    width: 7rem;
    align-self: center;
}
.no-comment{
    text-align: center;
    font-weight: bold;
    margin-top: 3rem;
    margin-bottom: 4rem;
}
.view {
    display: flex;
    color: var(--green);
    justify-content: baseline;
    align-items: center;
    font-size: 15px;
    font-weight: bold;
    padding: 0.2rem;
    margin-bottom: 1rem;
    cursor: pointer;
}

.modal-delete{
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;

  border: 2px solid var(--green);
  max-width: 25rem;
  margin-top: 15rem;
}
.delete-btn{
    width: 4rem;
    margin: 0.2rem;
    padding: 0.5rem;
    background-color: white;

}
.trash{
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.2rem;
    margin: 0;
    width: 24px;
}
.yes{
    border: 2px solid var(--green);
    border-radius: 10%;
}
.no{
    border: 2px solid red;
    border-radius: 10%;
}